{% extends 'base.html.twig' %}

{% block title "Mon Application React!" %}

{% block stylesheets %}

{% endblock  %}


{% block body %}
    <h1>Page d'accueil</h1>
{% endblock %}


{% block javascripts %}

{% endblock  %}
